# Terraform files
*.tfstate
*.tfstate.*
*.terraform/
crash.log
*.log

# .terraform.lock.hcl file for Terraform provider versions
.terraform.lock.hcl

# Kubernetes configuration files (optional)
kubeconfig

# IDE-specific files
.idea/
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

